<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.raamdev.zendesk-search</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>3BDF17C2-81E2-421A-8D8B-5456DD860AE6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>99301247-6D19-4D2D-BD85-24C78732E72A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>59A5B2EE-0525-4962-9BBC-8512CD20C3E8</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3FB911AC-9EB8-4AEE-BAD1-E92EC01316B0</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>99301247-6D19-4D2D-BD85-24C78732E72A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B76778E2-29EB-49FB-8536-65D8B362C816</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>59A5B2EE-0525-4962-9BBC-8512CD20C3E8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B76778E2-29EB-49FB-8536-65D8B362C816</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D4D0E37D-9805-4CA0-BA9B-5A02A83C1436</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Raam Dev</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Zendesk Search</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string># Runs a Zendesk search using the existing Zendesk tab if one is open, 
# otherwise opens a new tab and runs the search in Zendesk.
#
# Note that this assumes your browser is "Google Chrome".
# Requires enabling: Google Chrome -&gt; View -&gt; Developer -&gt; Allow JavaScript from Apple Events
# Requires Alfred 3 to have permission to control Google Chrome and System Events in Security &amp; Privacy -&gt; Privacy -&gt; Automation

query=$1

/usr/bin/osascript &lt;&lt; EOT
  set searchQuery to "$query"
  set serverURI to "https://wordpressvip.zendesk.com"
  set browserURL to "/agent/search/1?q=" &amp; searchQuery
  set found to false

  tell application "Google Chrome"
    if (count every window) &gt; 0 then
      repeat with theWindow in every window
        set theTabIndex to 0
        repeat with theTab in every tab of theWindow
          set theTabIndex to theTabIndex + 1
          if URL of theTab starts with serverURI then
            set found to true
            exit repeat
          end if
        end repeat

        if found then
          exit repeat
        end if
      end repeat

      if found then
        set query to "zds = document.querySelector('.zd-searchmenu .zd-searchmenu-base'); if (zds) { zds.value = '" &amp; searchQuery &amp; "'; zde = window.jQuery.Event('keyup'); zde.keyCode = 13; window.jQuery(zds).trigger(zde); }" as text
        tell theTab to set URL to "javascript:" &amp; query
        set theWindow's active tab index to theTabIndex
        set winTitle to name of theWindow
        activate
        tell application "System Events"
            tell process "Google Chrome"
                tell menu bar 1
                    click menu item winTitle of menu 1 of menu bar item -2
                end tell
            end tell
        end tell
      end if
    end if
  end tell

  if not found then
    tell application "Google Chrome"
      if (count every window) = 0 then
        make new window
      end if

      tell window 1 to make new tab with properties {URL:serverURI &amp; browserURL}
      activate
    end tell
  end if
EOT</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D4D0E37D-9805-4CA0-BA9B-5A02A83C1436</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>(?:^(?!(\#?)\d+(\-?z?))).*</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>B76778E2-29EB-49FB-8536-65D8B362C816</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>100</integer>
				<key>script</key>
				<string>&lt;?php
$query     = $argv[1];
$query_url = rawurlencode( $query );

// Matches variations of "#88888" or "#88888-z" or "88888" and captures just the ticket number
$ticket_num_regex = '/^(?:\#?)(\d+)(?:\-?z?)$/';

// Matches multiple ticket URL formats and captures just the ticket number
//
// https://href.li/?http://vip-support.automattic.com/tickets/88888
// https://href.li/?https://wordpressvip.zendesk.com/agent/tickets/88888
// http://vip-support.automattic.com/tickets/88888
// https://wordpressvip.zendesk.com/agent/tickets/88888
//
$ticket_link_regex = '/^(?:https:\/\/href.li\/\?)?(?:http|https):\/\/(?:wordpressvip|vip-support)\.(?:zendesk|automattic)\.com\/(?:agent\/)?tickets\/(\d+)$/';

if ( preg_match( $ticket_num_regex, $query )) {
	echo preg_replace( $ticket_num_regex, '$1', $query );
} elseif ( preg_match( $ticket_link_regex, $query ) ) {
	echo preg_replace( $ticket_link_regex, '$1', $query );
} else {
	echo addslashes( $query_url );
}</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>1</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>99301247-6D19-4D2D-BD85-24C78732E72A</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>zd</string>
				<key>subtext</key>
				<string>Search by ticket number, ticket URL, or any search query</string>
				<key>text</key>
				<string>Zendesk Search</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>3BDF17C2-81E2-421A-8D8B-5456DD860AE6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>inputstring</key>
				<string>{query}</string>
				<key>matchcasesensitive</key>
				<false/>
				<key>matchmode</key>
				<integer>2</integer>
				<key>matchstring</key>
				<string>^(\#?)\d+(\-?z?)$</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.filter</string>
			<key>uid</key>
			<string>59A5B2EE-0525-4962-9BBC-8512CD20C3E8</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string># Opens a Zendesk ticket using the existing Zendesk tab if one is open, 
# otherwise opens the Zendesk ticket in a new tab.
#
# Note that this assumes your browser is "Google Chrome".
# Requires enabling: Google Chrome -&gt; View -&gt; Developer -&gt; Allow JavaScript from Apple Events
# Requires Alfred 3 to have permission to control Google Chrome and System Events in Security &amp; Privacy -&gt; Privacy -&gt; Automation

query=$1

/usr/bin/osascript &lt;&lt; EOT
  set ticketId to $query
  set serverURI to "https://wordpressvip.zendesk.com"
  set browserURL to "/agent/tickets/" &amp; ticketId
  set found to false

  tell application "Google Chrome"
    if (count every window) &gt; 0 then
      repeat with theWindow in every window
        set theTabIndex to 0
        repeat with theTab in every tab of theWindow
          set theTabIndex to theTabIndex + 1
          if URL of theTab starts with serverURI then
            set found to true
            exit repeat
          end if
        end repeat

        if found then
          exit repeat
        end if
      end repeat

      if found then
        set query to "zds = document.querySelector('.zd-searchmenu .zd-searchmenu-base'); if (zds) { zds.value = '" &amp; ticketId &amp; "'; zde = window.jQuery.Event('keyup'); zde.keyCode = 13; window.jQuery(zds).trigger(zde); }" as text
        tell theTab to set URL to "javascript:" &amp; query
        set theWindow's active tab index to theTabIndex
        set winTitle to name of theWindow
        activate
        tell application "System Events"
            tell process "Google Chrome"
                tell menu bar 1
                    click menu item winTitle of menu 1 of menu bar item -2
                end tell
            end tell
        end tell
      end if
    end if
  end tell

  if not found then
    tell application "Google Chrome"
      if (count every window) = 0 then
        make new window
      end if

      tell window 1 to make new tab with properties {URL:serverURI &amp; browserURL}
      activate
    end tell
  end if
EOT</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3FB911AC-9EB8-4AEE-BAD1-E92EC01316B0</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>3BDF17C2-81E2-421A-8D8B-5456DD860AE6</key>
		<dict>
			<key>xpos</key>
			<integer>10</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>3FB911AC-9EB8-4AEE-BAD1-E92EC01316B0</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>130</integer>
		</dict>
		<key>59A5B2EE-0525-4962-9BBC-8512CD20C3E8</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>120</integer>
		</dict>
		<key>99301247-6D19-4D2D-BD85-24C78732E72A</key>
		<dict>
			<key>xpos</key>
			<integer>220</integer>
			<key>ypos</key>
			<integer>50</integer>
		</dict>
		<key>B76778E2-29EB-49FB-8536-65D8B362C816</key>
		<dict>
			<key>xpos</key>
			<integer>440</integer>
			<key>ypos</key>
			<integer>40</integer>
		</dict>
		<key>D4D0E37D-9805-4CA0-BA9B-5A02A83C1436</key>
		<dict>
			<key>xpos</key>
			<integer>540</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
